<!--<div class="card">
  <div class="card-body p-t-5">
    <app-file-display
      [avatormode]="uploadoptions.avatormode"
      [showFileName]="uploadoptions.showFileName"
      [colcss]="col - md - 12"
      [showoriginalSize]="uploadoptions.showoriginalSize"
      *ngIf="uploadedFiles.length > 0"
      [files]="uploadedFiles"
      (onRemove)="removedItems($event)"
    ></app-file-display>
    <app-plupload
      *ngIf="InitUploader"
      [options]="uploadoptions"
      (onCompletion)="filesUploaded($event)"
    >
    </app-plupload>
  </div>
</div>
-->